<%- include ('partials/header.ejs') %>

<link rel="stylesheet" href="/css/aluno.css" />

<body>
    <%- include ('partials/navbarTop.ejs') %>
    <%- include ('partials/navbar.ejs')%>

    <div class="container">
        <div class="form">
            <div class="list_dropdown">
                <h1 class="title-form">Preencha os campos abaixo:</h1>

                <div class="selector">
                    <div id="selectField" name="selectField">
                        <p id="selectText">Selecione um curso...</p>
                        <div class="caret"></div>
                    </div>
                    <ul id="list" class="hide">
                        <li style="color: var(--gray)" class="options">
                        Selecione um curso...
                        </li>
                        <li class="options">Banco de Dados</li>
                        <li class="options">Programação Web</li>
                        <li class="options">Ética e Cidadania Organizacional</li>

                    </ul>    
                </div>

                <!-- <div class="selector">
                    <div id="selectField" name="selectField">
                        <p id="selectText">Selecione uma matéria...</p>
                        <div class="caret"></div>
                    </div>
                    <ul id="list" class="hide">
                        <li class="options">1° Módulo</li>
                        <li class="options">2° Módulo</li>
                        <li class="options">3° Módulo</li>
                        <li class="options">4° Módulo</li>
                    </ul>
                </div> -->

                

                <div class="selector">
                    <div id="selectField" name="selectField">
                        <p id="selectText">Selecione um matéria...</p>
                        <div class="caret"></div>
                    </div>
                    <ul id="list" class="hide">
                        <li style="color: var(--gray)" class="options">
                        Selecione a matéria...
                        </li>
                        <li class="options">Banco de dados</li>
                        <li class="options">Programação e Algoritimos</li>
                        <li class="options">Segurança da Informação</li>
                        <li class="options">Programação Web III</li>
                    </ul>    
                </div>
            </div>

            <div class="button_submit">
                <div class="btn-submit">
                    <button class="submit" type="submit">Pesquisar</button>
                </div>

            </div>
        </div>

        <form method="post" class="student">
            <div class="header-student">
                <div class="header-list" >
                    <input name="rm" id="rm" data-search type="search" placeholder="Digite um RM ou nome....">
                    <button id="btn" type="button" onclick="getAluno()"><i class='bx bx-search'></i></button>
                </div>
            </div>
            <div class="student-list">
                <div data-user-container  class="list-name">
                    <div>
                        <p class="rm-student">RM</p>
                        <p class="name-student">Nome</p>
                    </div>

                    <%  alunos.forEach(aluno => { %>
                    <div data-user-templete  id="student">
                        <p data-rm id="rm-student"><%= aluno.RM %></p>
                        <p data-name id="name-student"><%= aluno.NM_ALUNO %></p>
                    </div>
                    <% }) %>

                </div>
            </div>
        </form>

  </div>

    <div id="modal-chamada" class="modal-container">
        <div class="modal">
            <button class="fechar">x</button>

            <section class="informations_student">
                <div>
                    <div class="calendar">
                        <%- include ('partials/calendar.ejs') %>
                    </div>
        
                    <div class="img-student">
                        <img src="/img/imgAluno.svg" alt="">
                    </div>
    
                    <div class="infos-student">

                        <div class="">
                            Nome:
                            <span>Larissa Moreira</span>
                        </div>
                        
                        <div class="">
                            RM:
                            <span>355648</span>
                        </div>
                        <div class="">
                            Curso:
                            <span>Desenvolvimento de sistemas</span>
                        </div>
    
                        <div class="">
                            Módulo:
                            <span>3°</span>
                        </div>
                    </div>
    
                    <div class="infos-classes">
                        <div class="classes">
                            Total de faltas:
                            <span>5</span>
                        </div>
                        <div class="classes">
                            Faltas permitidas:
                            <span>5</span>
                        </div>
                        <div class="classes">
                            Quantidades de aulas:
                            <span>5</span>
                        </div>
                        <div class="classes">
                            Quantidades de aulas:
                            <span>5</span>
                        </div>
                    </div>
    
                    <div class="graph">
                        <canvas class="doughnut"></canvas>
                    </div>
    
                    <div class="img-student">
                        <h2>IMAGEM ALEATORIA</h2>
                    </div>
                </div>

            </section>

        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="/js/aluno.js"></script>
    <%- include ('partials/footer.ejs') %>

</body>
