<%- include ('partials/header.ejs') %>

<link rel="stylesheet" href="/css/chamada.css">

<body>

  <%- include ('partials/navbarTop.ejs') %>
  <%- include('partials/navbar.ejs') %>


  <div class="container">

    <div class="student">
      <form action="" method="post" class="header-list" >
        <div class="selector">
          <div id="selectField" name="selectField" >
            <p id="selectText">Selecione uma matéria...</p>
            <div class="caret"></div>
          </div>
          <ul id="list" class="hide">
            <li style="color: var(--gray);" class="options">Selecione a matéria...</li>
            <li class="options">Banco de dados</li>
            <li class="options">Programação e Algoritimos</li>
            <li class="options">Segurança da Informação</li>
            <li class="options">Programação Web III</li>
          </ul>
        </div>

        <input class="date" type="date"> 
        <button class="iniciar" type="submit">Iniciar chamada</button>
      </form>
      <div class="student-list">
        <!-- <img class="boy-img" src="/img/boy.svg" alt=""> -->

        <div class="student-list-container">
          <div class="day-student-container">



            <div class="day-student">

              <div>
                <p class="day-student-class"><b>Aula:</b> DESENVOLVIMENTO DO TRABALHO DE CONCLUSÃO DE CURSO (TCC)</p>
                <p class="day-student-date"><b>Data:</b> 00/00/0000</p>
              </div>
  
              <div class="day-status">
                <p class="day-student-status"><b>Status:</b> Em andamento</p>
                <a  href="#"><i style="color: red;" id="trash" class='bx bx-trash'></i></a>              
              </div>
  
            </div>



            
          </div>

        </div>

      </div>
    </div>

  </div>

  <div id="modal-chamada" class="modal-container">
    <div class="modal">
      <button class="fechar">x</button>

      <div class="call_button">
        <h2>Chamada 30/09</h2>
        <input type="button" class="button" value="Concluir">
        <!-- <input type="button" class="button red" value="Concluir"> -->
        
      </div>

      <section class="infos">
        <div class="info_student ">
          <p class="item" id="rm">RM</p>
          <p class="item name" id="name">Nome</p>
          <p class="item" id="presence">Presente</p>
        </div>

        <%  alunos.forEach(alunos => { %>
          <div class="info_student">
            <p class="item" id="rm_student"><%= alunos.RM %></p>
            <p class="item" id="name_student"><%= alunos.NM_ALUNO %></p>
            <p class="item">
              <input type="checkbox" id="checkbox" class="checkbox">
              <!-- <label for="checkbox" class="label"></label> -->
            </p>
          </div>
        <% }) %>
      </section>

    </div>
  </div>

  <%- include ('partials/footer.ejs') %>

  <script src="/js/jquery.js"></script>
  <script src="/js/chamada.js"></script>
</body>


</html>