<%- include ('partials/header.ejs') %>

<link rel="stylesheet" href="/css/chamada.css">

<body>

  <%- include ('partials/navbarTop.ejs') %>
  <%- include('partials/navbar.ejs') %>


  <div class="container">
    <div class="form">
      <div class="list_dropdown">
        <h1 class="title-form" >Preencha os campos abaixo:</h1>
  

        <div class="selector">
          <div id="selectField" name="selectField" >
            <p id="selectText">Selecione uma matéria...</p>
            <div class="caret"></div>
          </div>
          <ul id="list" class="hide">
            <li style="color: var(--gray);" class="options">Selecione a matéria...</li>
            <li class="options">Banco de dados</li>
            <li class="options">Programação e Algoritimos</li>
            <li class="options">Segurança da Informação</li>
            <li class="options">Programação Web III</li>
          </ul>
        </div>

        <div class="selector">
          <div id="selectField" name="selectField">
            <p id="selectText">Selecione um módulo...</p>
            <div class="caret"></div>
          </div>
          <ul id="list" class="hide">
            <li class="options">1° Módulo</li>
            <li class="options">2° Módulo</li>
            <li class="options">3° Módulo</li>
            <li class="options">4° Módulo</li>
          </ul>
        </div>
        
        <button class="iniciar" type="submit">Iniciar chamada</button>

      </div>

      <div class="attach">
          <h2>Anexe um arquivo para contabilizar<br> 
          a presença de uma forma mais prática!</h2>
          <div class="attach_file">
            <input id="file" type="file">
            <label for="file">
              <img class="icon-file" src="/img/file.svg" alt="">
              <span class="upload-file" >Selecione um arquivo...</span>
            </label>       
          </div>

          <div class="button_submit">
            <button class="submit" type="submit">Enviar</button>
          </div>
      </div>
    </div>

    <div class="student">
      <div class="header-list" >
        <h1 class="tille-list">Nada para exibir...</h1>
        <input class="date" type="date"> 
      </div>
      <div class="student-list">
        <img class="boy-img" src="/img/boy.svg" alt="">
      </div>
    </div>

  </div>

  <div id="modal-chamada" class="modal-container">
    <div class="modal">
      <button class="fechar">x</button>

      <div class="call_button">
        <h2>Chamada 30/09</h2>
        <input type="button" class="button" value="Concluir">
        <!-- <input type="button" class="button red" value="Concluir"> -->
        
      </div>

      <section class="infos">
        <div class="info_student ">
          <p class="item" id="rm">RM</p>
          <p class="item name" id="name">Nome</p>
          <p class="item" id="presence">Presente</p>
        </div>

        <%  alunos.forEach(alunos => { %>
          <div class="info_student">
            <p class="item" id="rm_student"><%= alunos.rm %></p>
            <p class="item" id="name_student"><%= alunos.nm_aluno %></p>
            <p class="item">
              <input type="checkbox" id="checkbox" class="checkbox">
              <!-- <label for="checkbox" class="label"></label> -->
            </p>
          </div>
        <% }) %>
      </section>

    </div>
  </div>

  <%- include ('partials/footer.ejs') %>

  <script src="/js/jquery.js"></script>
  <script src="/js/chamada.js"></script>
</body>


</html>